* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    -45deg,
    #ffe5d4,   
    #ffb347,   
    #6a11cb,  
    #ffd89b   
  );

  background-size: 400% 400%;
  animation: gradientMove 14s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.floating-icons span {
  position: fixed;
  font-size: 26px;
  animation: float 14s linear infinite;
  opacity: 0.25;
}

@keyframes float {
  from { transform: translateY(100vh); }
  to { transform: translateY(-10vh); }
}

.auth-box {
  width: 360px;
  padding: 32px;
  border-radius: 22px;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(18px);

  box-shadow: 0 16px 40px rgba(106, 17, 203, 0.35);

  animation: slideUp 0.6s ease;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 22px;
  color: #6a11cb; 
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 14px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  transition: 0.25s;
}

.auth-box input:focus {
  box-shadow: 0 0 12px rgba(106, 17, 203, 0.4);
}

.auth-box button {
  width: 100%;
  padding: 13px;
  margin-top: 12px;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  color: white;

  background: linear-gradient(
    90deg,
    #6a11cb,
    #ff6f3c
  );

  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 24px rgba(106, 17, 203, 0.6);
}

.auth-box a {
  color: #6a11cb;
  font-weight: bold;
  text-decoration: none;
}

.auth-box p {
  text-align: center;
  margin-top: 16px;
  color: #333;
}

.auth-box.large {
  width: 420px;
  padding: 36px;
}

.auth-box.large input {
  margin-bottom: 12px;
}
