.menu-management {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.food-card {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(14px);

  padding: 18px;
  border-radius: 20px;

  box-shadow: 0 10px 28px rgba(106,17,203,0.25);
  transition: 0.3s;
}

.food-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(106,17,203,0.4);
}

.form-card {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(14px);

  padding: 20px;
  border-radius: 20px;

  box-shadow: 0 10px 28px rgba(106,17,203,0.25);
}

.form-card input,
.form-card select {
  width: 100%;
  margin-bottom: 10px;
}
